body{
    color: white;
    background-color: black;
    font: optional;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
h1 {
    text-align: center;
}

h2{
    text-align: center;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    padding: 15px;
}

a {
    color: white
}
img{
    width: 200px;
    height: 200px;
}

.center {
    text-align: center;

}

h1 {
    color: yellow
}

footer img{
    width: 40px;
    height: 40px;
}

footer{
    display: flex;
    justify-content: center;
}

footer a{
    margin: 20px;
    text-align: center;
}

footer p{
    margin-top: 2px;
}

.container{
    padding: 0px 50px;
}

nav a:hover{
    color: yellow;
}